*{box-sizing: border-box;}

/* 공통 CSS START */
* {
	margin: 0 auto;
	padding: 0 auto;
	box-sizing: border-box;
	font-family: 'Nanum Gothic', sans-serif;
}

div {
	list-style-type: none;

}

li {
	list-style-type: none;
}

html{
    /* width: 1920px; */
    height: 100%;
    margin: 0;
}

body{
    /* width: 1920px; */
    height: 100%;
    margin: 0;
}

.full{
    margin: 0;
    padding: 0;
    border: 0;
    /* width: 1920px; */
    height: 100%;
}

a{
    text-decoration: none;
    color: white;
}


/* 네비 */
.logo {
    width: 180px;
    height: 50px;
    padding-top: 10px;
}

#nav3-1-logo {
	display: block;
	cursor: pointer;
	padding: 0px;
}
.navbar{
    flex: 0 0 auto;
    height: 60px;
    background-color: rgb(28, 28, 28);
}

.nav-con{
    position: relative;
    width: 1300px;
    /* max-width: 1500px; */
    margin: 0px auto;
    padding: 0px 20px;
}

.nv{
    float: left;
    position: relative;
    margin: 0px;
	width: 100%;
}

.nv-st{
    float: left;
    padding: 0px;
    margin: 0px;
    list-style: none;
    white-space: nowrap;
	width: 100%;
    list-style:none;
    margin:0;
    padding:0;
}

.nv-st>li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0;
    float: left;
	list-style-type: none;
}

/* 
.nv-it{
    float: left;
    user-select: none;
}
 */

 
 .nv-st::after{
	 clear: both;
	 content: "";
	 display: block;
	}
	
	.nv-home{
		padding-right: 0px;
		padding-left: 0px;
		color: white;
		padding: 1.2rem 1.6rem 1.6rem;
		display: block;
		font-size: 20px;
		line-height: 1.45;
	}
	
	 #nav3-2-login,
	 #nav3-3-join{
		 /* 링크 밑줄 제거 */
		 text-decoration: none;
		 font-size: 18px;
		 cursor: pointer;
		 color: white;
		 padding-left: 40px;
		 padding-right: 40px;
		 display: inline-block;
		 padding:20px;
	 }
	 #nav3-1-blank{
	
		 /* 링크 밑줄 제거 */
		 text-decoration: none;
		 font-size: 18px;
		 color: white;
		 padding-left: 40px;
		 padding-right: 40px;
		 display: inline-block;
		 padding:20px;
	 }

.user{
    padding: 6px 0px 0px;
    position: relative;
    float: right;
}

.u-name{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
}


.log-btn{
    font-size: 14px;
    cursor: pointer;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border-radius: 0px;
    background: transparent;
    height: 3.6rem;
}

.select-ic{
    margin: 0px 1rem;
    transition: transform 0.2s ease 0s;
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    cursor: pointer;
    color: white;
}

.select-ic::before{
    content:url(images/337-ctrl.png);
}

.userimg{
	margin-top: 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-size: cover;
	
}

.home-btn{
    font-size: 14px;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    padding: 13px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 600;
	margin-top: 8px;
}

/* 네비 끝 */


.blank{
	width: 100%;
	height: 400px;
}
.blank1{
	height: 100%;
	width: 50px;
}

/* 섹션 */
.sec{
	/* width: 1300px; */
	margin-top: 100px; 
	height: 100%;
    position: relative;
}

/* 화면에 보이는 프레임(틀) */
.mainFrame{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.mainFrame:after{
    clear: both;
}

/*북마크모달*/
#my_modal1 {
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    overflow: hidden;
    width: 500px;
    height: 300px;
    display: none;
    z-index: 99;
}

.ModalHeader1 {
    height: 54px;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
}

.Modal_close_btn1 {
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    overflow: visible;
    float: right;
}

.ModalBody1{
    display: block;
    text-align: center;
}

#findemail{
    color:black;
    border: #c8c8c8 solid 1px;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 3px;
    font-weight: bold; 
    font-size: 15px;
    height: 40px;
    width: 450px;
    position: relative;
    line-height:0px;
}
#upload{
    color:white;
    border: rgb(0, 206, 201) solid 1px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #04bfbf; 
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold; 
    font-size: 15px;
    height: 42px;
    width: 480px;
    position: relative;
    line-height:0px;
    margin-top: 30px;
}

/*채용담당자 로그인 모달*/
#my_modal2 {
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    overflow: hidden;
    width: 500px;
    height: 500px;
    display: none;
}

.ModalHeader2 {
    height: 54px;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
    display: block;
    margin-bottom: 30px;
}

.Modal_close_btn2 {
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    overflow: visible;
    float: right;
}

.ModalBody2{
    display: block;
    text-align: center;
    width: 500px;
}

/*input설정*/
input:focus
    {outline:none;}

/*텍스트박스*/
#email, #pwd{
    color:black;
    border: #c8c8c8 solid 1px;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 3px;
    /* cursor: pointer; */
    font-weight: bold; 
    font-size: 15px;
    height: 40px;
    width: 480px;
    position: relative;
    line-height:0px;
}

/*비밀번호변경 모달로 가는 버튼*/
#change {
    color:white;
    border: rgb(0, 206, 201) solid 1px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #03a6a6 ; 
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold; 
    font-size: 15px;
    height: 42px;
    width: 480px;
    position: relative;
    line-height:0px;
}



