


header {
  position: fixed;
  top: 0;
  left: 300px;
  right: 300px;
  height: 75px;
  padding: 1px;
  color: rgb(0,206,201);
  background: rgb(229, 250, 249);
  /*font-weight: bold;*/
  display: flex;/*한줄로 나오게*/
  justify-content: space-between;/*정렬*/
  align-items: center;
  font-size: 20px;
  font-family:fantasy; 
}

body {
  position: absolute;
  padding-top: 100px;
  left: 300px;
  right: 300px;
}


#drmain1{  
  box-sizing: border-box;
  margin: auto;
  border: 0;
  /*float: left;*/
  margin: 10px;
  display: inline-block;
  font-size: 25px;
}

.camera{
  object-fit: cover;
  max-width: 500px;
  max-height: 500px;
  margin-left: 10px;
  margin-right: 10px;
  float: right;
}

.movie{
  object-fit: cover;
  max-width: 500px;
  max-height: 500px;
  float: left;
  margin-top: 50px;
  margin-right: 100px;
}

#drmain2{
  margin: auto;
  border: 0;
  float: right;
  margin-top: 100px;
  margin-right: 60px;
}

#loginbtn{
  border: 1px solid rgb(229, 250, 249);
  background-color: rgb(229, 250, 249);
  color: rgb(0,206,201);
  font-size: 15px;
}
#servicebtn{
  border: 1px solid rgb(229, 250, 249);
  background-color: rgb(229, 250, 249);
  color: rgb(0	206 201);
  font-size: 15px;
}

#beforemainimg2{
  position: absolute; top:0; left: 0;
  width: 100%;
  height: 100%;
}

#startbtn{
  border-top-left-radius:5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid rgb(0, 206, 201);
  background-color: rgb(0, 206, 201);
  color: white;
  font-size: 20px;
  height: 80px;
  width: 300px;
}
#startbtn:hover{
  color: rgb(0, 206, 201);
  background-color: white;
}

#my_modal{
  display: none;
  width: 400px;
  padding: 20px 60px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 3px;
}
.Modal_close_btn {
  position: absolute;
  top: 10px;
  right: 10px;
}


div.modal-text{
  font-size: 13px;
  text-align: center;
}
.flex-between-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label-margin-none{
  margin: 0;
  width: 100%;
}
.checkBox-body{
  float: left;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  vertical-align: middle;
  position: relative;
}
.checkbox-body::after{
  background-color: #ffd400;
  position: relative;
  border: 0;
}
.checkBox .checkBox-text{
  position: relative;
  float: left;
}
#my_modal .sns-btn-naver, .sns-btn-kakao,.sns-btn-google,.sns-btn-apple{
  width: 53px;
  height: 53px;
  border-radius: 50%;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sns_login{
  margin: 13px 0 25px 0;
  display: flex;
  justify-content: space-between;
}
.sns-btn-naver{
  background-color: #20c702;
}
.sns-btn-naver img{
  width: 30px;
}
.sns-btn-kakao{
  background-color: #f9e000;
}
.sns-btn-kakao img{
  width: 30px;
}
.sns-btn-google{
 background-color: #f8f9fd;
}
.sns-btn-google img{
  width: 30px;
}
.sns-btn-apple{
  background-color: #000;
}
.sns-btn-apple img{
  width: 20px;
}