*{box-sizing: border-box;}

/* 공통 CSS START */
* {
	margin: 0 auto;
	padding: 0 auto;
	box-sizing: border-box;
	font-family: 'Nanum Gothic', sans-serif;
}

div {
	list-style-type: none;

}

ul {
    list-style:none;
    margin:0;
    padding:0;
}

li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0;
    float: left;
	list-style-type: none;
}

html{
    width: 1920px;
    height: 100%;
    margin: 0;
}

body{
    width: 1920px;
    height: 100%;
    margin: 0;
}

.full{
    margin: 0;
    padding: 0;
    border: 0;
    width: 1920px;
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
}

/* 네비 */
.navbar{
    flex: 0 0 auto;
    height: 60px;
    background-color: rgb(28, 28, 28);
}

.nav-con{
    position: relative;
    width: 1500px;
    max-width: 1500px;
    margin: 0px auto;
    padding: 0px 20px;
}

.nv{
    float: left;
    position: relative;
    margin: 0px;
	width: 100%;
}

.nv-st{
    float: left;
    padding: 0px;
    margin: 0px;
    list-style: none;
    white-space: nowrap;
	width: 100%;
}
/* 
.nv-it{
    float: left;
    user-select: none;
}
 */

 
 .nv-st::after{
	 clear: both;
	 content: "";
	 display: block;
	}
	
	.nv-home{
		padding-right: 0px;
		padding-left: 0px;
		color: white;
		padding: 1.2rem 1.6rem 1.6rem;
		display: block;
		font-size: 20px;
		line-height: 1.45;
	}
	
	 #nav3-2-login,
	 #nav3-3-join,
	 #nav3-4-home{
		 /* 링크 밑줄 제거 */
		 text-decoration: none;
		 font-size: 18px;
		 cursor: pointer;
		 color: white;
		 padding-left: 40px;
		 padding-right: 40px;
		 display: inline-block;
		 padding:20px;
	 }
	 #nav3-1-blank{
	
		 /* 링크 밑줄 제거 */
		 text-decoration: none;
		 font-size: 18px;
		 color: white;
		 padding-left: 40px;
		 padding-right: 40px;
		 display: inline-block;
		 padding:20px;
	 }

.user{
    padding: 6px 0px 0px;
    position: relative;
    float: right;
}

.u-name{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
}


.log-btn{
    font-size: 14px;
    cursor: pointer;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border-radius: 0px;
    background: transparent;
    height: 3.6rem;
}

.select-ic{
    margin: 0px 1rem;
    transition: transform 0.2s ease 0s;
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    cursor: pointer;
    color: white;
}

.select-ic::before{
    content:url(images/337-ctrl.png);
}

.userimg{
	margin-top: 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-size: cover;
	
}

.home-btn{
    font-size: 14px;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    padding: 0.8rem 1.5rem;
    font-weight: 600;
	margin-top: 8px;
}

/* 네비 끝 */



/* 공백 */
.Blank{
    height: 50px;
}
/* 섹션 */
.sec{
    margin: 0 auto;
    width: 90%;
    position: relative;
    max-width: 1060px;
    padding: 0 0 90px;
    display: block;
    border: 0;
}
.subheading{
    font-size: 20px;
    font-weight: 700;
    color: #333;
    padding: 0px 0 20px;
}
/* 화면에 보이는 프레임(틀) */
.mainFrame{
    position: relative;
}
/* 사이드 바 */
.sidebar{
    top: 0;
    left: 0;
    width: 250px;
    position: absolute;
    /* ↓초기화 */
    margin: 0;
    padding: 0;
    border: 0;
}
/* 사이드 바 내용 */
.sidebar-contents>div:first-of-type{
    border: none;
}
.sidebar-contents{
    background: #fff;
    border: 1px solid #e1e2e3;
    border-radius: 3px;
}
.sidebar-contents>div{
    border-top: 1px solid #e1e2e3;
}
/* 사이드바 상단부터 첫번째 */
.first-contents{
    border: none;
    padding: 42px 20px 30px;
    text-align: center;
    margin: 0;
}
/* 프로필 이미지 */
.profile-img{
    display: inline-block;
    position: relative;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50%;
    /* ↓초기화 */
    margin: 0;
    padding: 0;
    border: 0;
}
/* 이미지 업로드 인풋 */
.img-input{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    cursor: pointer;
    /* ↓초기화 */
    margin: 0;
    padding: 0;
    border: 0;
}
/* 이미지 업로드 인풋에 파일 버튼 숨기는거임 */
.img-input input[type=file]{
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    outline: none !important;
    box-shadow: none !important;
}
input[type="file" i]{
    appearance: none;
    background-color: initial;
    align-items: baseline;
    text-overflow: ellipsis;
    white-space: pre;
    text-align: start !important;
    padding: initial;
    border: initial;
    overflow: hidden !important;
}
/* 카메라 아이콘 틀 */
.fi-fi-camera{
    position: absolute;
    right: -4px;
    bottom: 0;
    padding: 8px;
    font-size: 16px;
    color: #999;
    line-height: 1;
    border-radius: 50%;
    background-color: #fff;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
/* 카메라 아이콘 */
.fi-fi-camera:before{
    content:url("images/016-camera.png")
}
/* 프로필 이름 누르면 마이프로필 가지는 a태그 */
.myprofile_a{
    /* ↓초기화 */
    margin: 0;
    padding: 0;
    border: 0;
}
/* 프로필 dl */
.myprofile_a>dl{
    padding-top: 30px;
}
/* 프로필 dt */
.myprofile_a>dl>dt{
    font-size: 18px;
    line-height: 19px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/* 프로필 dd */
.myprofile_a>dl>dd:first-of-type{
    padding-top: 20px;
}
/* 프로필 dd */
.myprofile_a>dl>dd{
    font-size: 14px;
    line-height: 16px;
    color: #767676;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 0;
}
.sc-div{
    position: relative;
    padding: 30px 25px 30px 20px;
}
.sc-div>a:last-of-type{
    padding: 0;
}
.sc-div>a{
    display: flex;
    padding-bottom: 23px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    align-items: baseline;
    position: relative;
    margin: 0;
    border: 0;
}
.sc-div>a>span{
    font-size: 16px;
    line-height: 17px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    border: 0;
}
.sc-div>a>strong{
    position: relative;
    font-size: 18px;
    line-height: 19px;
    font-weight: 700;
}
.third-contents{
    padding: 30px 20px;
}
.third-contents>a{
    display: block;
    font-size: 16px;
    line-height: 17px;
    font-weight: 500;
}
/* 사이드바 옆 */
.m-contents{
    padding-left: 270px;
}
/* 지원현황 */
.status{
    background: #fff;
    border: 1px solid #e1e2e3;
    border-radius: 5px;
    margin: 0 0 20px;
    padding: 26px 0 34px;
}
/* 지원현황 h2 */
.status-h2{
    font-size: 18px;
    padding: 0 32px 26px;
    font-weight: 700;
}
/* 지원현황 ul */
.m-ul:after{
    display: block;
    content: "";
    clear: both;
}
/* 지원현황 ul>li */
.m-ul>li:first-of-type{
    border: none;
}
.m-ul>li{
    float: left;
    width: 25%;
    border-left: 1px solid #e1e2e3;
}
/* a태그 */
.m-ul>li>a{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}
.m-ul>li>a>em{
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    padding-bottom: 11px;
    font-style: normal;
}
.m-ul>li>a>span{
    font-size: 16px;
    line-height: 19px;
}
